.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.088);
  align-items: center;
}
.option {
  display: flex;
  justify-content: right;
}
